<?xml version="1.0" encoding="utf-8" ?>
<Config>
    <Title>Populate a drop down list in dynamic content from AppSettings</Title>
    <Header>/pc-load-letter/header.jpg</Header>
    <CustomCss>
        <File>
            <Path>test.css</Path>
            <Type>text/css</Type>
        </File>
    </CustomCss>
    <CustomScripts>
        <File>
            <Path>test.js</Path>
            <Type>text/javascript</Type>
        </File>
    </CustomScripts>
</Config>